.footer-logo {
    max-width: 420px;
  }
  
  
  .container-footer{
    background-color: #000; /* Fondo negro */
    max-width: 10;
    max-height: 0%;
    
    text-align: center; /* Centra el texto */
    color: white;

  }
  
  
 
  